<!DOCTYPE html>
<html lang="en">
<head>
  <% head %>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.min.css" >
  <link rel="manifest" href="<% request.uri_base %>/manifest.json">
  <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>  
  <script src="<% request.uri_base %>/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="<% request.uri_base %>/javascripts/main.js"></script>
</head>

<body>   
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" id="navfluid">
  <a class="navbar-brand" href="<% request.uri_base %>/">Track My Expenses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<% request.uri_base %>/">Home</a>
      </li>
      <% IF logged_in %>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/logout">Logout</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user">Account</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/addbank">Add Bank</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/addenvelope">Add Envelope</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/addpaycheck">Add Paycheck</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/fillenvelope">Fill Envelope</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/transaction/view">Transactions</a></li>
      <% ELSE %>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/login">Login</a></li>
        <li class="nav-item"><a class="nav-item nav-link" href="<% request.uri_base %>/user/create">Create Account</a></li>
      <% END %>
    </ul>
  </div>
  </div>
</nav>
   
  <div id="container">

    <% IF msg %>
      <div class=flash> <% msg %> </div>
    <% END %>  
    <% content %>
    <footer class="footer">
      <div class="container">
          <span class="text-muted">
             &copy; <script type="text/JavaScript"> var theDate=new Date(); document.write(theDate.getFullYear())</script> Brawer Development
          </span>
      </div>
    </footer>
  </div>
</body>
</html>



