<!DOCTYPE html>
<html lang="en">
<head>
  <% head %>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="<% request.uri_base %>/javascripts/main.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>

</head>

<body>
  <div id="container">
    <div class="topnav">
      <h1><a href="<% request.uri_base %>/">Your Expense Tracker</a></h1>     
    </div>
    <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Join the community</h3>
            <ul class="links">
              <% IF logged_in %>
                <li><a  class="userManagement" href="<% request.uri_base %>/user/logout">Logout</a></li>
                <li><a  class="userManagement" href="<% request.uri_base %>/user">Account</a></li>
              <% ELSE %>
                <li><a  class="userManagement" href="<% request.uri_base %>/user/login">Login</a></li>
              <% END %>
            </ul>
          </li>
        </ul>
    </div>
    <% IF msg %>
      <div class=flash> <% msg %> </div>
    <% END %>  
    <% content %>
    <div id="footer">
    </div>
  </div>
</body>
</html>
